@font-face {
  font-family: "TTFirsNeue";
  src: local("fonts"),
  url("./fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "TTFirsNeue";
  src: local("fonts"),
  url("./fonts/TTFirsNeue-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "TTFirsNeue";
  src: local("fonts"),
  url("./fonts/TTFirsNeue-Regular.ttf") format("truetype");
  font-weight: 400;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
